body #outer {
  display: flex;
  justify-content: center;
}
body .header {
  min-height: 45px;
  align-items: start;
  align-content: start;
}
body .left-tray,
body .right-tray {
  align-self: start;
  align-items: start;
}
body #header {
  width: auto;
  border-bottom: none;
  border-radius: 0 0 12px 12px;
  background-color: var(--frame-bg, var(--legacy-frame-bg));
  height: 60px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 11px -1px;
}
body.nightMode center #header {
  background-color: var(--frame-bg, var(--legacy-frame-bg));
}
body center #header .tdcenter {
  background: transparent;
  box-shadow: initial;
  border: initial;
  padding: 0 2px;
}
body center #header .hitem,
body .header .toolbar .hitem {
  padding: 4px 15px;
  background: transparent;
  color: var(--text-fg, var(--legacy-text-fg)) !important;
  transition:
    background 0.3s,
    border 0.3s;
  border-radius: 6px;
}
body center #header .hitem:hover,
body .header .toolbar .hitem:hover {
  background: var(--button-bg);
  box-shadow: initial;
}
body center #header a#sync,
body .header .toolbar a#sync {
  color: var(--link, var(--legacy-link)) !important;
}

/* >= 2.1.57 */
body:not(.fancy) .header {
  border-bottom: 1px solid transparent !important;
}
body .header .toolbar,
body:not(.fancy) .header .toolbar {
  width: auto;
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
  border-bottom: 1px solid var(--border-subtle);
  border-radius: 0 0 12px 12px;
  background-color: var(--frame-bg, var(--legacy-frame-bg));
  padding: 6px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 11px -1px !important;
}
